{% load static %}
<!DOCTYPE html>
<html>
    <head>  
        <title>Deletar musica</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/deletarmusica.css' %}">


    </head>

    <body>
        <form method="post">
            {% csrf_token %}
            <p>Tem certeza que deseja deletar <span class="nome">{{ musica.titulo }}?</span></p>
            <button type="submit">Sim</button>
            <a href="{% url 'lermusicas' %}">Cancelar</a>

        </form>
    </body>
</html>