{% load static %}
<!DOCTYPE html>
<html>
    <head>  
        <title>Sua playlist</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/lermusicas.css' %}">


    </head>

    <body>
        {% for musica in musicas %}
        <h1>{{ musica.titulo}}</h1>
        <ul>
            <div class="musica">
                <li>Álbum: <span class="nome">{{ musica.album }}</span></li>
                <li>Artista: <span class="nome">{{ musica.artista }}</span></li>
                <li>Lançamento: <span class="nome">{{ musica.ano_lancamento }}</span></li>
                <img src="{{ musica.capa_url }}" alt="Capa do álbum"> <br>
                <a href="{% url 'atualizarmusica' musica.id %}">Atualizar música</a> <br>
                <a href="{% url 'deletarmusica' musica.id  %}" class="deletarmusica">DELETAR</a>
            </div>
        </ul>
        <hr>
        {% endfor %} 
        <div class="acoes">
        <a href="{% url 'criarmusica' %}">Criar música</a>
       
        <a href="{% url 'homeplaylist' %}">Voltar ao menu</a>
    </div>
    </body>
</html>