html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

body {
    background: linear-gradient(to bottom, rgb(4, 1, 14), rgb(0, 58, 158));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;      
    justify-content: center;  
    flex-direction: column;   
}

h1 {
    font-family: Roboto, Montserrat, Lato, Open Sans, Poppins;
    font-size: 7vh;
    color: rgb(173, 199, 255);
    text-decoration: underline;  
    transition: transform, 0.2s;
}

h1:hover {
    font-family: Roboto, Montserrat, Lato, Open Sans, Poppins;
    font-size: 7vh;
    color: rgb(0, 40, 73);
    text-decoration: underline;
    transition: transform, 0.2s;  
}

h2 {
    font-family: Roboto, Montserrat, Lato, Open Sans, Poppins;
    font-size: 3vh;
    color: rgb(18, 81, 163);
    transition: transform, 0.2s;
}

h2:hover {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5vh;
    color: rgb(18, 42, 163);
    transition: transform, 0.2s;
}

a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh;
    color: rgb(2, 0, 59);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 10vh;
    transition: transform, 0.2s;
}

a:hover {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vh;
    color: rgb(26, 0, 129);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 8vh;
}

img {
    height: 30vh;
    transition: transform, 0.2s;
}

img:hover {
    height: 35vh;
    transition: transform, 0.2s;
}